{
  "deploy_settings": {
    "default": {
      "skill_id": "${ALEXA_SKILL_ID}",
      "was_cloned": false,
      "merge": {
        "skillManifest": {
          "apis": {
            "custom": {
              "endpoint": {
                "uri": "${AWS_LAMBDA_ARN}"
              }
            }
          }
        }
      }
    }
  }
}
